<% include ./partials/webHeader.ejs %>
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, placeat rem quos praesentium modi mollitia dicta in ex pariatur eligendi provident maxime suscipit dolores illum blanditiis impedit! Porro, quae expedita?
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, placeat rem quos praesentium modi mollitia dicta in ex pariatur eligendi provident maxime suscipit dolores illum blanditiis impedit! Porro, quae expedita?
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, placeat rem quos praesentium modi mollitia dicta in ex pariatur eligendi provident maxime suscipit dolores illum blanditiis impedit! Porro, quae expedita?
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, placeat rem quos praesentium modi mollitia dicta in ex pariatur eligendi provident maxime suscipit dolores illum blanditiis impedit! Porro, quae expedita?
                            </div>
                        </div>
                    </div>
                </div>
        


                
            </div>
        </div>
<% include ./partials/webFooter.ejs %>