<% include ./partials/webHeader.ejs %>
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-12">
                        
                            <form method="POST" action="">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="expenseName">Expense</label>
                                            <input type="text" class="form-control" id="expenseName" placeholder="Expense Name" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <input type="number" step="any" class="form-control" id="amount" placeholder="Amount" required>
                                        </div>
                                    </div>

                                </div>

                                
                                <div class="form-group">
                                    <label for="expenseDescription">Description (Optional)</label>
                                    <textarea name="expenseDescription" id="expenseDescription" class="form-control" rows="5"></textarea>
                                    <small id="descriptionHelp" class="form-text text-muted">Record the details of Expense if you wants to</small>
                                </div>
                                

                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Participants</h4><br>
                                        
                                    </div>

                                    <div class="content">
                                        <div class="form-group">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h5 class="title">You</h5>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="paid" id="you" value="1" checked>
                                                        <label class="form-check-label" for="you">
                                                            Bill Payer
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <br>


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h5 class="title">Person 2</h5>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="paid" id="participant2" value="2">
                                                        <label class="form-check-label" for="participant2">
                                                            Bill Payer
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><br>                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="participantName2">Name</label>
                                                    <input type="text" class="form-control" id="participantName2" placeholder="Name" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="participantEmail2">Email</label>
                                                    <input type="email" class="form-control" id="participantEmail2" placeholder="Email" required>
                                                </div>
                                            </div>


                                        </div>
                                        
                                        <br>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h5 class="title">Person 3</h5>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="paid" id="participant3" value="3" >
                                                        <label class="form-check-label" for="participant3">
                                                            Bill Payer
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><br> 

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="participantName3">Name</label>
                                                    <input type="text" class="form-control" id="participantName3" placeholder="Name" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="participantEmail3">Email</label>
                                                    <input type="email" class="form-control" id="participantEmail3" placeholder="Email" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <br>
                                                    <button type="button" class="btn btn-info btn-fill">Add New Person</button>
                                                </div>
                                            </div>


                                        </div>
                                        
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>


                    </div>
                </div>
                
                
            </div>
        </div>
<% include ./partials/webFooter.ejs %>