<% include ./partials/webHeader.ejs %>
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-12">
                        <a href="/expenses/addExpense" class="btn btn-info btn-fill">Add New Expense</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
<% include ./partials/webFooter.ejs %>